//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//
$bg-primary:       									    #0e58c4;
$primary :       									    #0e58c4;
$bg-success:       									    #2d8e09;
$success :       									    #2d8e09;
$bg-danger:       									    #d01834;//ff1e65;
$danger :       									    #d01834;
$bg-info:       									    #000082;
$info :       									    #000082;
$bg-secondary:       									    #eef1f9;